@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.about_container
{
    /* margin-top: 50px; */
    padding: 0px 150px 0px 150px;
    
    width: 100%;
    height: auto;
    /* position: absolute; */
    background-image: url('./images/aboutbg.png');
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.about_heading
{
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.about_heading h1
{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color1);
    font-size: 35px;
    margin: 0;
    letter-spacing: 4px;
}

.about_line
{
    width: 300px;
    height: 2px;
    background-color: var(--primary-color1);
}

.about_blocks
{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.about_blocks img
{
    width: 50%;
    height: 350px;
}

.community, .expert
{
    opacity: 0;
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.showAbout
{
    animation-name: aboutBlocksFadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.technology, .experience
{
    opacity: 0;
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}


.description:nth-child(2n)
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    letter-spacing: 1px;
}

.description:nth-child(2n+1)
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    letter-spacing: 1px;
}

.description h2, .description p
{
    margin: 0;
}

.description h2
{
    color: var(--primary-color1);
}

.description p
{
    color: #183F59;
    width: 90%;
    line-height: 1.3;

}

.description:nth-child(2n) p
{
    margin-left: auto;
}

@keyframes aboutBlocksFadeIn 
{
    from
    {
        opacity: 0;
        transform: translateY(50px);

    }
    to
    {
        transform: translateY(0px);
        opacity: 1;
    }
}