.captions-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: white !important;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    display: inline-block;
    padding: 0.25rem;
    font-family: cursive;
}