.chatbox_parent
{
    width: 24%;
    height: 80.22vh;
    /* margin-left: 5px; */
    border: 2px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
   
}

.chatbox_header
{
    height: 60px;
    width: 100%;
    background-color: var(--primary-color2);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

.chatbox_header img
{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.bot_details
{
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.bot_details h3
{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.bot_details p
{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    letter-spacing: 0.5px;
}

.chat_container {
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-image: linear-gradient(#380036,#0CBABA); */
}

.chat_container form {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #CCCCCC;
    align-items: center;
    padding: 2px 10px 0px 10px;

}

.chat_container form input {
    width: 80%;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
}

.chat_container form input:focus
{
    outline: none;
}

.chat_container form button {
    /* width: 25%; */
    height: 36px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 2px 0px 0px 0px;

}

.chat_container form button img
{
    width: 32px;
    height: 32px;
}

.chat {
    background-color: var(--primary-color1);
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.chatbox {
    padding: 1.5rem;
}
