.chatbox_parent
{
    width: 100%;
    height: 100%;
    /* margin-left: 5px; */
    border: 2px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
    box-sizing: border-box;
   
}

.chatbox_header
{
    height: 60px;
    width: 100%;
    background-color: var(--light-blue);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

.chatbox_header img
{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.bot_details
{
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.bot_details h3
{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.bot_details p
{
    font-size: 10.5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    letter-spacing: 0.5px;
}

.chat_container {
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 2px;
    /* background-image: linear-gradient(#380036,#0CBABA); */
}

.user_chat
{
    margin-top: 15px;
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
}

.user_chat p
{
    color: white;
    background-color: var(--light-blue);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 12px;
    margin: 0;
    text-align: right;
    width: 65%;
    font-size: 15px;
}


.bot_chat 
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 5px;
}
.bot_chat img, .user_chat img
{
    margin-top: auto;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.bot_chat p
{
    background-color: var(--light-blue);
    color: white;
    margin: 0;
    text-align: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 12px;
    width: 65%;
    font-size: 15px;
}

.chatbox_parent form {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #CCCCCC;
    align-items: center;
    padding: 2px 10px 0px 10px;

}

.chatbox_parent form input {
    width: 80%;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
}

.chatbox_parent form input:focus
{
    outline: none;
}

.chatbox_parent form button 
{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 5px;

}

.chatbox_parent form button i
{
    font-size: 23px;
    color: var(--light-blue);
} 

.chatbox_parent form button img
{
    width: 32px;
    height: 32px;
}
