.chatbox_parent {
    /* margin-left: 5px; */
    /* border: 2px solid #bcbcbc; */
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.chatbox_header {
    width: 100%;
    background-color: var(--bg2);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 10px;
    box-sizing: border-box;
}

.chatbox_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg1);
}

.bot_details {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.bot_details h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.bot_details p {
    font-size: 10.5px;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    margin: 0;
    letter-spacing: 0.5px;
}

.chat_container {
    height: 460px;
    display: flex;
    flex-direction: column;
    padding: 18px 14px;
    overflow-y: scroll;
}

.chat_container::-webkit-scrollbar {
    width: 0.5em;
}

.chat_container::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat_container::-webkit-scrollbar-thumb {
    background-color: #888;
}


.user_chat {
    margin-top: 15px;
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
}

.user_chat p {
    color: rgb(0, 0, 0);
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 12px;
    margin: 0;
    text-align: right;
    /* width: 70%; */
    max-width: 70%;
    width: auto;
    font-size: 15px;
}


.bot_chat {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 5px;
}

.bot_chat img,
.user_chat img {
    margin-top: auto;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.bot_chat p {
    background-color: var(--light-blue);
    color: white;
    margin: 0;
    text-align: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 12px;
    max-width: 70%;
    width: auto;
    font-size: 15px;
}

.chatbox_parent form {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #CCCCCC;
    align-items: center;
    padding: 6px 10px 6px 10px;

}

.chatbox_parent form input {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
}

.chatbox_parent form input:focus {
    outline: none;
}

.chatbox_parent form button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 5px;

}

.chatbox_parent form button i {
    font-size: 23px;
    color: var(--text);
}

.chatbox_parent form button img {
    width: 32px;
    height: 32px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mcq_options{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.mcq_option{
    color: black !important;
    cursor: pointer;
}