.fileForm
{
    margin: auto;
    display: flex;
    flex-direction: column; 
    width: 15%;
    gap: 10px;

}

.fileForm input
{
    
}
.fileForm input
{
    
}
.fileForm button
{
    width: 60px;
    margin: auto;
}