@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.ide_parent
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 91vh;
    /* gap: 5px; */
}

.left_block
{
    height: 100%;
    width: 28%;
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 10px;
    
}

.files_heading_left i, .tools_heading i
{
    color: #07080A;
    font-size: 14px;
}

.files_heading_right i
{
    color: #07080A;
    font-size: 16px;
}

.files_container
{
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
}

.files_heading
{
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.files_heading_left
{
    width: 75%;
    display: flex;
    cursor: pointer;
    gap: 5px;
}

.arrow_rotate_down
{
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;

}

.arrow_rotate_up
{
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
}



.files_heading_left h4
{
    margin: 0;
    color: var(--ide-font);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


.files_heading_right
{
    width: 23%;
    display: flex;
    justify-content: space-between;
}

.add_file
{
    padding: 3px 0px 3px 7px;
    cursor: pointer;
}

.three_dot
{
    padding: 3px 0px 3px 7px;
    cursor: pointer;
}

.files_show
{
    margin-top: 8px;
    height: 80vh;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.files_hide
{
    margin-top: 8px;
    overflow: hidden;
    height: 0;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.addFilePanel
{
    width: 100%;
}

.addFilePanel input
{
    font-size: 14px;
    width: 91%;
    border-radius: 5px;
    color: #bcbcbc;
    background-color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 8px 8px;
}

.addFilePanel input:focus
{
    outline: none;
}

.addFilePanel select
{
    border: 0;
    border: 1px solid #bcbcbc;
    color: rgb(124, 124, 124);
    padding: 3px 3px;
    border-radius: 5px;
}

.addFilePanel select:focus
{
    outline: 0;
}

.addFilePanel button
{
    width: 60px;
    background-color: white;
    color: #bcbcbc;
    border-radius: 5px;
    padding: 3px 38px;
    border: 1px solid #bcbcbc;
    margin-left: 5px;

}


.file button
{
    color: #3D4047;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    border: 0;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    padding: 9px 5px 9px 8px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.file button:hover
{
    background-color: rgb(219, 219, 219);
}

.file i
{
    font-size: 17px;
}

.line
{
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
}


.tools_container
{
    margin-top: 8px;
}
.tools_heading
{
    gap: 5px;
    display: flex;
    height: 25px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.tools_arrow_rotate_down
{
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;

}

.tools_arrow_rotate_up
{
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}

.tools_heading h4
{
    margin: 0;
}

.tools_show
{
    /* height: 90%; */
    height: 80vh;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.tools_hide
{
    height: 0;
    background-color: transparent;
    width: 100%;
    transition: 0.3s ease-in-out;
}


.ide_in_ide_container
{
    width: 72%;
    height: 500px;
}