:root
{
  --primary-color: #6a738b;
  --text: #4b4f5d;
  --bg1: #d9dee4;
  --bg2: #bfc7d1;
  --bg3: #a4aab7;
  --deep-blue: #3086e3;
  --light-blue: #56BCD8;
  --ide-font: #07080A;
  --pink-red: #ea366eff;
}
body 
{
  min-width: 1440px;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* height: 1200px; */

}

.skiptranslate span
{
  display: none;
}

.view-lines{
  background-color: white;
}

.margin-view-overlays{
  background-color: white;
}

.minimap-decorations-layer{
  background-color: white;
}

.decorationsOverviewRuler{
  background-color: lightgray !important;
}

.vertical{
  background-color: lightgray !important;
}