:root
{
  --primary-color1: #79CDFB;
  --primary-color2: #e34668;
  --primary-gradient: linear-gradient(315deg, var(--primary-color1) 80%, var(--primary-color2) 0%);
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}
