@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.platform_parent
{
  background-color: #ffffff;
  /* height: 100vh; */
  /* width: 100vw; */
  /* min-width: 1440px; */
  min-height: 789px;
  box-sizing: border-box;
}

.profile-pic{
  height: 10px;
  width: 10px;
  background-image: url()
}

.platform_navbar
{
  height: 60px;
  width: 100%;
  display: flex;
}

.navbar_1
{
  box-sizing: border-box;
  padding: 0px 0px 0px 30px;
  width: 72.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  /* border-bottom: 1px solid #bcbcbc; */
}

.platform_logo
{

  display: flex;
  /* align-items: left; */
  gap: 2px;
  flex-direction: column;
}

.platform_navbar h1
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #07080A;
  font-size: 19px;
  letter-spacing: 1px;
}

.platform_navbar p
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #07080A;
  letter-spacing: 0.5px;

}

.platform_logo img
{
  width: 50px;
  height: 50px;
}

.navbar_1 button
{
  padding: 8px 12px;
  width: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background-color: var(--deep-blue);
  color: white;
  border: 1px solid var(--deep-blue);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_2
{
  padding-right: 50px;
  width: 27.5%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border-bottom: 1px solid #bcbcbc; */
}

.profile
{
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;

}
.profile img
{
  height: 40px;
  width: 40px;
  border-radius: 50%;

}

.profile span
{
  padding: 8px;
  font-size: 14px;
}

.profile ul
{
  background-color: #f3f3f3;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  right: 5px;
  list-style: none;
  overflow: hidden;
}

.profile ul li
{
  font-family: 'Roboto', sans-serif;
  padding: 8px 10px;
  color: #3d4047;
  font-size: 15px;
}

.profile ul li:hover
{
  background-color: rgb(228, 228, 228);
}


.platform_components
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 60px);
  box-sizing: border-box;
}

/* .ide_in_platform_container
{
  width: 74.5%;
}

.board_in_platform_container
{
  width: 74.5%;
  background-color: #ffffff;
} */

.stream_in_platform_container
{
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 72.5%;
  background-color: #ffffff;
}

.chat_in_platform_container
{
  background-color: white;
  width: 26.5%;
  border: 1px solid #bcbcbc;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.nav-btnss{
  display: flex;
  gap: 1rem;
}