@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.service_parent
{
    padding: 50px 150px 50px 150px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service_heading
{
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0;
}

.service_heading h1
{
    font-family: 'Roboto', sans-serif;
    color: var(--deep-blue);
    font-size: 35px;
    margin: 0;
    letter-spacing: 2px;
}

.service_line
{
    width: 300px;
    height: 2px;
    background-color: var(--deep-blue);
}

.ide_container
{
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.ide
{
    position: relative;
    width: 80%;
    opacity: 0;
}

.showService
{
    animation-name: serviceAnimation;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes serviceAnimation
{
    from
    {
        opacity: 0;
        transform: translateY(150px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ide_image
{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 6px 27px 0 rgba(0,3,2,0.08);
    border: 1px solid #e6e6e6;
}

.ideImageAnimate
{
    animation-name: ideImageAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideImageAnimation 
{
    from 
    {
        filter: blur(1px);
        transform: scale(1) translateX(0px);
        /* transform: scale(1) translateX(0px); */
    }
    to 
    {
        filter: blur(0px);
        transform: scale(0.7) translateX(-38%);
        /* transform: scale(0.7) translateX(-350px); */
    }
}

.ideRemoveImageAnimate
{
    animation-name: ideRemoveImageAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideRemoveImageAnimation 
{
    from 
    {
        filter: blur(0px);
        transform: scale(0.7) translateX(-38%);
        /* transform: scale(0.7) translateX(-350px); */
    }
    to 
    {
        filter: blur(1px);
        transform: scale(1) translateX(0px);
        /* transform: scale(1) translateX(0px); */
    }
}

.ide_heading
{
    width: 33%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    color: black;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--deep-blue);
}

.ideHeadingAnimate
{
    /* transform: translate(-50%, -50%); */
    animation-name: ideHeadingAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideHeadingAnimation
{
    from
    {
        transform: translate(-50%, -50%);
    }
    to
    {
        transform: translate(81%, -220px);
        text-align: right;
    }

}

.ideHeadingRemoveAnimate
{
    /* transform: translate(-50%, -50%); */
    animation-name: ideHeadingRemoveAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideHeadingRemoveAnimation
{
    from
    {
        text-align: right;
        transform: translate(81%, -220px);
    }
    to
    {
        transform: translate(-50%, -50%);
    }

}

.ide_description
{
    text-align: right;
    z-index: 1;
    letter-spacing: 1px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.ide_description p
{
    color: #183F59;
}

.ide_description form button
{
    margin-top: 13px;
    background-color: var(--deep-blue);
    width: 160px;
    border: 0;
    font-weight: 500;
    color: white;
    padding: 12px 30px;
    border-radius: 22px;
    font-size: 19px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.ide_description form button:hover
{
    background-color: #255486;
}


.ideDescriptionAnimate
{
    animation-name: ideDescriptionAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideDescriptionAnimation
{
    from
    {
        transform: translate(-50%, -50%);
    }
    to
    {
        transform: translate(25%, -95px);
    }

}

.ideDescriptionRemoveAnimate
{
    animation-name: ideDescriptionRemoveAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes ideDescriptionRemoveAnimation
{
    from
    {
        transform: translate(25%, -95px);
    }
    to
    {
        transform: translate(-50%, -50%);
    }

}
