.videoBox{
    height: 30rem;
    width: 55rem;
    border: 1px solid black;
    background-color: black;
}

.stream-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.stream-btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.sbtn{
    background-color: transparent;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.sxbtn{
    background-color: red;
    color: white;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.sbtn:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.display-none{
    display: none;
}