.stream_parent
{
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.participants
{
    width: 20%;
    height: 100vh;
    border: 1px solid black;

}

.participants_heading
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 15px 0px;
    letter-spacing: 1px;
}

.participants_heading h3
{
    margin: 0;

}

.video
{
    width: 55%;
    height: 480px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content
{
    width: 100%;
    height: 90%;
}

.buttons
{
    border-top: 1px solid black;
    padding: 10px 0px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.buttons button
{
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(98, 98, 98);
    font-size: 0.95rem;
}