.stream-container {
    background: #202124;
    color: white;
    height: 100%;
    overflow: auto;
    width: 100%;
    /* border: 1px solid lightgrey; */
}

.videoCam{
    height: 100% !important;
    width: 90% !important;
}

.videoCam video
{
    border-radius: 10px;
}

.pview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_control_buttons
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: transparent;
    gap: 20px;
    position: relative;
    /* top: -50px; */
}

.video_control_buttons button
{
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    font-size: 18px;
    color: white;

}

.mic
{
    padding: 10px 14px;
}

.video
{
    padding: 10px 11.5px;
}

.screen_share
{
    padding: 10px 11px;
}

.coding
{
    padding: 11px 10.5px;

}

.whiteboard
{
    padding: 11px 12px;
}

.leave
{
    background-color: #D85140;
    padding: 10px 12.5px;
}

.black_bg
{
    background-color: #3D4043;
}
.red_bg
{
    background-color: #D85140;
}

.whiteboard_in_stream
{
    height: calc(100% - 93px);
}